body {
  font-family: 'Rock Salt', cursive;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  font-family: 'Rock Salt', cursive;
  color: white;
}

form div {
  margin: 1em;
  display: inline-block;
}

.logo {
  font-family: 'Rock Salt', cursive;
  margin-top: 20px;
  margin-left: 5%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* input[type='text'],
input[type='password'],
select,
textarea {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} */

textarea {
  height: 400px;
}

label {
  font-weight: bold;
  margin-top: 20px;
}

.logoContainer {
  display: flex;
  justify-content: center;
}

.navContainer {
  background-color: #cfc7d2;
  color: #111344;
  border-bottom: 1px solid #111344;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.navLinks a {
  margin-top: 40px;
}

.navLinks a:hover {
  color: #ff670f;
  text-decoration: none;
}

.formContainer button:hover {
  color: #ff670f;
}

.formContainer a:hover {
  color: #ff670f;
}

.formContainer input:hover {
  border-bottom: 2px solid #ff670f;
}

.recipeDetails {
  display: flex;
  flex-direction: column;
  font-family: 'Rock Salt', cursive;
  padding: 40px;
  align-items: center;
}

.recipeDetails img {
  max-width: 90%;
  height: auto;
}

.formContainer {
  padding-top: 60px;
}

.formContainer input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #111344;
}

.formContainer p {
  font-family: 'Rock Salt', cursive;
  margin-top: 20px;
}

.inputContainer {
  width: 70%;
}

.emptyMessage {
  font-family: 'Rock Salt', cursive;
  padding-top: 40px;
}

::placeholder {
  font-family: 'Rock Salt', cursive;
}
