body {
  font-family: 'Rock Salt', cursive;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  font-family: 'Rock Salt', cursive;
  color: white;
}

form div {
  margin: 1em;
  display: inline-block;
}

.logo {
  font-family: 'Rock Salt', cursive;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

textarea {
  height: 400px;
}

label {
  font-weight: bold;
  margin-top: 20px;
}

.logoContainer {
  display: flex;
  justify-content: center;
}

.navContainer {
  background-color: #cfc7d2;
  color: #111344;
  border-bottom: 1px solid #111344;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.navLinks {
  display: flex;
}

.navLinks a {
  margin-top: 40px;
}

.navLinks a:hover {
  color: #ff670f;
  text-decoration: none;
}

.formContainer button:hover,
.formContainer a:hover {
  color: #ff670f;
}

.formContainer input:hover {
  border-bottom: 1px solid #ff670f;
}

.formContainer input:focus {
  outline: none;
  border-bottom: 1px solid #ff670f;
}

.recipeDetails {
  display: flex;
  flex-direction: column;
  font-family: 'Rock Salt', cursive;
  padding: 40px;
  align-items: center;
}

.recipeDetails p {
  width: 100%;
  white-space: pre-wrap;
}

.recipeDetails h5 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.recipeDetails h3 {
  margin-bottom: 2rem;
}

.recipeDetails img {
  max-width: 90%;
  height: auto;
}

.formContainer {
  padding-top: 60px;
}

.formContainer input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #111344;
}

.formContainer p {
  font-family: 'Rock Salt', cursive;
  margin-top: 20px;
}

.inputContainer {
  width: 70%;
}

.emptyMessage {
  font-family: 'Rock Salt', cursive;
  padding-top: 40px;
}

::placeholder {
  font-family: 'Rock Salt', cursive;
  padding-left: 5px;
}

label {
  font-family: 'Rock Salt', cursive;
}

.addRecipeButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome {
  display: flex;
  flex-direction: row;
  font-family: 'Rock Salt', cursive;
  margin-top: 20px;
  margin-left: 20px;
  color: #111344;
}
.recipeFormContainer {
  padding-top: 60px;
}

.recipeFormContainer input,
.recipeFormContainer textarea {
  margin-bottom: 2rem;
  width: 70%;
  border: none;
  border-bottom: 1px solid #111344;
}

.recipeFormContainer input:hover,
.recipeFormContainer textarea:hover {
  border-bottom: 1px solid #ff670f;
}

.recipeFormContainer input:focus,
.recipeFormContainer textarea:focus {
  outline: none;
  border-bottom: 1px solid #ff670f;
}

.recipeFormContainer label {
  margin-bottom: 2rem;
}

.text-center a {
  color: #111344;
}

.text-center a:hover {
  color: #ff670f;
  text-decoration: none;
}

.editButtonContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editButtonContainer button:hover,
.editButtonContainer a:hover {
  color: #ff670f;
}

.deleteButtonContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.deleteButtonContainer button:hover {
  color: #111344;
}

input {
  text-overflow: ellipsis;
}

.addRecipeButtonContainer button:hover,
.addRecipeButtonContainer a:hover {
  color: #ff670f;
}

/* select:hover {
  box-shadow: 0 0 10px 100px #ff670f inset;
} */
